extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let horseid = toShow._id
    - let horsename = toShow.horsename
    - let habitat  = toShow.habitat
    - let classification = toShow.classification
    - let price = toShow.price
    - let actionid = "/resource/horses/" + horseid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Horse id is:
        div #{horseid}
      div.row
        div(class='costumeAttr mr-3') Horse name is:
        div #{horsename}
      div.row
        div(class='costumeAttr mr-3') habitat is:
        div #{habitat}
      div.row
        div(class='costumeAttr mr-3') classification is:
        div #{classification}
      div.row
        div(class='costumeAttr mr-3') price is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/horses'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/horses'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
